<% if user_is_admin? %>
    <div class="flex-row text-right">
      <%= link_to new_profile_path, class: 'btn btn-outline-success' do %>
          <%= fa_icon('plus') %>
          New Profile
      <% end %>
    </div>
<% end %>
<% @profiles.each_slice(3) do |slice| %>
    <%= content_tag :div, class: 'card-deck text-center' do %>
        <% slice.each do |profile| %>
            <div class="card card-outline-none">
              <h3>
                <%= link_to profile.name, profile_path(profile) %>
              </h3>
              <p>
                <%= link_to profile_path(profile) do %>
                    <%= image_tag profile.photo.url(:medium) %>
                <% end %>
              </p>
              <% if user_is_admin? %>
                  <div class="card-footer">
                    <%= link_to 'Edit', edit_profile_path(profile), class: 'btn btn-small btn-outline-primary' %>
                    <%= link_to 'Destroy', profile, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-small btn-outline-danger' %>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>
