{{! keep in mind if you want to use scrollspy, the url's need to be #id's in the page.}}
<aside class="col-md-2">
  <div class="mt-5 mb-3" id="sidemenu">
    <a class="brand" href="/">
      <img src="/images/logo2x.png" alt="{{logo_alt}}">
    </a>
    <ul class="nav flex-md-column flex-row justify-content-between">
      {{#aside_links}}
        <li class="nav-item">
          <a href="{{this.url}}" class="nav-link active pl-0">{{title}}</a>
          {{#if sublinks}}
          <ul class="nav flex-md-column ml-2 hidden-sm-down">
            {{#sublinks}}
              <li class="nav-item"><a href="{{url}}" class="nav-link">{{title}}</a></li>
            {{/sublinks}}
          </ul>
          {{/if}}
        </li>
      {{/aside_links}}
    </ul>
  </div>
</aside>