<%= form_for @translation, url: locale_translation_path do |form| %>
    <% if @translation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

          <ul>
            <% translation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group field">
      <%= form.label :locale %>
      <%= form.text_field :locale, readonly: true, class: 'form-control' %>
    </div>
    <div class="form-group field">
      <%= form.label :key %>
      <%= form.text_field :key, class: 'form-control' %>
    </div>
    <div class="form-group field">
      <%= form.label :value %>
      <%= form.text_area :value, value: I18n.t(@translation.key, locale: @locale), class: 'form-control' %>
    </div>
    <div class="form-actions">
      <%= form.submit 'Save Translation', class: 'btn btn-outline-info' %>
      <%= link_to "Cancel", locale_translations_url(@locale), class: 'btn btn-secondary' %>
    </div>
<% end %>