<div class="col-8 mt-3">
  <h1>{{error.title}}</h1>

  <p>{{error.content}}<a href="{{error.back_url}}">{{error.back_url_text}}</a></p>

  <h6>{{error.server_message_title}}</h6>
  <blockquote>{{error_message}}</blockquote>
</div>