<div class="col">

  <h3>Events</h3>


  <div class="flex-column">
    {{#events}}
      <div id="{{this.id}}">
        <h3 href="#{{this.id}}">{{this.title}}</h3>
        <h4>{{this.subtitle}}</h4>
        {{#if this.video_url}}
          <video class="card-img-top mw-100" loop muted autoplay preload="auto">
            <source src="{{this.video_url}}" type="video/quicktime">
          </video>
        {{/if}}
        {{#if this.image_url}}
          <img class="card-img-top" src="{{this.image_url}}" alt="{{this.image_alt}}">
        {{/if}}
        {{#this.classes}}
          <div class="row">
            <div class="col">
              <b>{{start_time}}&nbsp;&ndash;&nbsp;{{end_time}}:</b>
            </div>
            <div class="col">
              {{title}}
            </div>
            <div class="col">{{profile.name}}</div>
          </div>
        {{/this.classes}}
        {{#this.guest_shifts}}
          <div class="row">
            <div class="col">
              {{start_time}}&nbsp;&ndash;&nbsp;{{end_time}}
            </div>
            <div class="col">{{profile.name}} @ {{location}}</div>
          </div>
        {{/this.guest_shifts}}
      </div>
    {{/events}}
  </div>

</div>
