<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body data-spy="scroll" data-target="#sidemenu" data-offset="15">
{{#if header}}
  {{> header }}
{{/if}}
{{> nav }}
<div class="container h-10" id="content">
  <div class="row h-100 mt-5">
    {{>aside}}
    <main class="col py-5">
      <div class="row">
        <div class="col">
          {{#if tabs}}
            {{> tabs }}
            {{> tab_content}}
          {{/if}}
          {{{body}}}
        </div>
        <div class="col-lg-3 col-12">
          <div class="card card-danger card-inverse mb-3">
            <div class="card-block">
              <h3 class="card-title">Next Event</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-danger">Outline</a>
            </div>
          </div>
          <div class="card bg-faded border-0 mb-3">
            <div class="card-block">
              <h3 class="card-title">Featured Sponsor</h3>
              <p class="card-text">Display supporters and advertisements here.</p>
              <a href="#" class="btn btn-outline-secondary">C-T-A</a>
            </div>
          </div>
          <div class="card bg-faded border-0 mb-3">
            <div class="card-block">
              <h3 class="card-title">Meet Tristan Stevenson</h3>
              <p class="card-text">Tristan is widely respected...</p>
              <a href="#" class="btn btn-outline-secondary">C-T-A</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<footer class="bg-inverse text-white py-4">
  <div class="container">
    <div class="row">
      {{#footer}}
        {{>footer_column}}
      {{/footer}}
      <div class="col-12 text-right small">
        &copy;{{current_year}} {{title}}
      </div>
    </div>
  </div>
</footer>

<div id="modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel">Hello.</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">Text</label>
          <div class="col-10">
            <input class="form-control" type="text" value="Mike McDonald" id="example-text-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-search-input" class="col-2 col-form-label">Search</label>
          <div class="col-10">
            <input class="form-control" type="search" value="How to responsive design" id="example-search-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-email-input" class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input class="form-control" type="email" value="email@example.com" id="example-email-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-url-input" class="col-2 col-form-label">URL</label>
          <div class="col-10">
            <input class="form-control" type="url" value="http://codeply.com" id="example-url-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="example-tel-input" class="col-2 col-form-label">Phone</label>
          <div class="col-10">
            <input class="form-control" type="tel" value="1-(202)-555-5555" id="example-tel-input">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="/javascripts/smoothscroll.js"></script>
<script src="/javascripts/bs.affix.js"></script>
<script>
  (function (d) {
    let config = {
          kitId: 'bfw1lgm',
          scriptTimeout: 3000,
          async: true
        },
        h = d.documentElement, t = setTimeout(function () {
          h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
        }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
    h.className += " wf-loading";
    tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
    tk.async = true;
    tk.onload = tk.onreadystatechange = function () {
      a = this.readyState;
      if (f || a && a !== "complete" && a !== "loaded")return;
      f = true;
      clearTimeout(t);
      try {
        Typekit.load(config)
      } catch (e) {
      }
    };
    s.parentNode.insertBefore(tk, s)
  })(document);
</script>

<script>
  $learnMore = document.querySelector('#learn-more');
  $learnMore.addEventListener('click', function (event) {
    event.preventDefault();
    document.querySelector('nav').scrollIntoView({
      behavior: 'smooth'
    });
  });

</script>

<script>
  let $header = $('#header');
  let $footer = $('footer');

  $('.navbar').affix({
    offset: {
      top: $header.outerHeight(),
      bottom: $header.outerHeight() - 50
    }
  });

  $('#sidemenu').affix({
    offset: {
      top: $header.outerHeight(),
      bottom: $footer.outerHeight() + 50
    }
  });
</script>
</body>
</html>
