<div class="jumbotron mb-0 d-flex align-items-center flex-column justify-content-center min-100" id="header">
  <video loop muted autoplay poster="<%= asset_path 'homestill.jpg' %>" preload="auto" class="video-bg" playsinline>
    <!--order by file size -->
    <source src="/homepage.webm">
    <source src="/homepage.mov">
    <source src="/homepage.mp4">
  </video>
  <%= content_tag :div, class: "row", id: 'launch-bar' do %>
      <div class="col-4 text-left">
        <%= image_tag "logo2x_inverse.png", alt: t('logo_alt'), style: "max-height: 140px", id: "logo" %>
      </div>
      <div class="col-4 text-center text-white">
        <h3>
          <%= t('sbw_date') %>
        </h3>
      </div>
      <div class="col-4 text-right">
        <a id="learn-more" class="btn btn-danger btn-lg" id="learn-more" href="#content" role="button">
          <%= t('learn_more') %>
        </a>
      </div>

  <% end %>
</div>
<script>
    $learnMore = document.querySelector('#learn-more');
    $learnMore.addEventListener('click', function (event) {
        event.preventDefault();
        document.querySelector('nav').scrollIntoView({
            behavior: 'smooth'
        });
    });

</script>