<ul class="nav {{nav_class}}" role="tablist">
  {{#item}}
  <li class="nav-item {{item_class}}">
    <a class="nav-link {{link_class}} {{active}}" data-toggle="tab" href="{{url}}" role="tab">{{title}}</a>
  {{/item}}
  </li>
</ul>