<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :event_subtitle %>
  </div>

  <div class="field">
    <%= form.label :short_description %>
    <%= form.text_field :short_description, id: :event_short_description %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_description %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.date_select :start_time, id: :event_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.date_select :end_time, id: :event_end_time %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :event_type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :event_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
