<% if user_is_admin? %>
    <%= link_to 'New Event', new_event_path, class: 'btn btn-outline-primary' %>
<% end %>
<div class="flex-column">
  <div class="mb-4">
    <% @events.each do |dayz| %>
        <h1 class="text-danger"><%= dayz[0].strftime("%A %d") %></h1>
        <hr class="mt-0">
        <% dayz[1].each do |event| %>
            <% if event.filter_type == "masterclass" %>

                <% if user_is_admin? %>
                    <div class="float-right">
                      <%= link_to t('edit'), edit_event_path(event), class: 'btn btn-sm btn-outline-primary' %>
                      <%= link_to t('destroy'), event, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-outline-danger' %>
                    </div>
                <% end %>
                <% if event[:video_url] %>
                    <video class="card-img-top mw-100" loop muted autoplay preload="auto">
                      <source src="<%= event[:video_url] %>" type="video/quicktime">
                    </video>
                <% end %>
                <% if event[:image_url] %>
                    <img class="card-img-top" src="<%= event[:image_url] %>" alt="<%= event[:image_alt] %>">
                <% end %>
                <% if event.filter_type.downcase.eql? 'masterclass' %>
                    <div class="row pb-4">
                      <div class="col-3">
                        <b><%= event.start_time.strftime("%I:%M %p") %>&nbsp;&ndash;&nbsp;<%= event.end_time.strftime("%I:%M %p") %></b>
                      </div>
                      <div class="col">
                        <p class="my-0"><%= link_to event.title, event_path(event) %></p>
                        <small><%= event.short_description %></small>
                      </div>
                      <div class="col"><%= link_to event.profile.name, profile_path(event.profile) %></div>
                    </div>
                <% end %>
            <% end %>
            <% if event.filter_type == "guest_shift" %>
                <div class="row pb-3">
                  <div class="col-3 border border-left-0">
                    <p class="text-muted mb-0">
                      <%= t('guest_shift') %>
                    </p>
                    <p class="text-muted mb-0">
                      <%= event.start_time.strftime("%I:%M %p") %>&nbsp;&ndash;&nbsp;<%= event.end_time.strftime("%I:%M %p") %>
                    </p>
                    <!--{{#gs_times}}-->
                    <!--{{start_time}}&ndash;{{end_time}}-->
                    <!--{{/gs_times}}-->
                  </div>
                  <div class="col border border-right-0 border-left-0">
                    <% dayz[1].each do |gs| %>
                        <p class="my-0">
                          <%= link_to gs.profile.name, profile_path(gs.profile) %>
                          <%= fa_icon('at') %>
                          <%= link_to gs.location.name, location_path(gs.location) %>
                        </p>
                    <% end %>
                    <% if user_is_admin? %>
                        <div class="float-right">
                          <%= link_to t('edit'), edit_event_path(event), class: 'btn btn-sm btn-outline-primary' %>
                          <%= link_to t('destroy'), event, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-outline-danger' %>
                        </div>
                    <% end %>
                  </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>