<h3><%= t("event.#{@event.id}.title", default: @event.title) %></h3>
<div class="flex-row">
  <p>
    <%= l(@event.start_time, format: "%B %d %H:%M %p") %>&nbsp;&ndash;&nbsp;<%= l(@event.end_time, format: "%H:%M %p") %>
    <%= fa_icon('at') %> <%= link_to t("event.#{@event.id}.location.name", default: @event.location.name), location_path(@event.location) %>
  </p>
</div>
<div class="flex-row">
  <%= t("event.#{@event.id}.description", default: @event.description).html_safe %>
</div>
<div class="flex-row">
  <p class="lead">
    <strong><%= t('price') %></strong>
    <%= event_price_tag(@event.price) %>
  </p>
</div>

<% if user_is_admin? %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>