<h3><%= t("event.#{@event.id}.title", default: @event.title) %></h3>
<div class="flex-row">
  <p>
    <%= l(@event.start_time, format: "%B %d %H:%M %p") %>&nbsp;&ndash;&nbsp;<%= l(@event.end_time, format: "%H:%M %p") %>
    <%= fa_icon('at') %> <%= link_to t("event.#{@event.id}.location.name", default: @event.location.name), location_path(@event.location) %>
  </p>
</div>
<div class="flex-row">
  <%= t("event.#{@event.id}.description", default: @event.description).html_safe %>
</div>
<div class="flex-row">
  <p class="lead">
    <strong><%= t('price') %></strong>
    <%= event_price_tag(@event.price) %>
  </p>
</div>

<div class="flex-row">
  <% if user_signed_in? %>
      <% if @event.max_seats > 0 %>
          <%= form_for @order_item, remote: true, html: {class: 'form form-inline'} do |f| %>
              <% if @event.price != 0 %>
                  <%= f.hidden_field :event_id, value: @event.id %>

                  <div class="form-group field">
                    <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, max: @event.max_seats %>
                  </div>
                  &nbsp;
                  <div class="form-actions">
                    <%= f.submit t('add_to_order'), class: 'btn btn-success' %>
                  </div>
              <% end %>
          <% end %>
      <% end %>
  <% else %>
      <%= t('create_account') %>
      <br>
      <%= link_to t('sign_up'), new_user_registration_path, class: 'btn btn-outline-primary' %>
  <% end %>
  <% if user_signed_in? %>
      <%= event_status_tag(@event.max_seats) %>
  <% end %>
</div>

<% if user_is_admin? %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>