<h3><%= @event.title %></h3>
<div class="flex-row">
  <p>
    <strong>Start time:</strong>
    <%= @event.start_time.strftime("%B %d %H:%M %p") %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= @event.end_time.strftime("%B %d %H:%M %p") %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= humanized_money_with_symbol @event.price %>
  </p>
</div>
<div class="flex-row">
  <%= @event.description.html_safe %>
</div>

<% if user_is_admin? %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
