<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @event.subtitle %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @event.short_description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time.strftime("%B %d %H:%M %p") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.strftime("%B %d %H:%M %p") %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.filter_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= humanized_money_with_symbol @event.price %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
