<%= form_with(model: sponsor, local: true, html: {multipart: true}) do |form| %>
    <% if sponsor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

          <ul>
            <% sponsor.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :sponsor_name, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :slug %>
      <%= form.text_field :slug, id: :sponsor_slug, class: 'form-control', disabled: true %>
    </div>

    <div class="form-group field">
      <%= form.label :website %>
      <%= form.text_field :website, id: :sponsor_website, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :order %>
      <%= form.number_field :ordinality, id: :sponsor_ordinality, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <label><%= t('logo') %></label><br/>
      <%= form.label :logo, class: "custom-file" do %>
          <%= form.file_field :logo, id: :location_logo, class: 'custom-file-input', placeholder: t('browsefile') %>
          <%= content_tag :span, "", class: "custom-file-control" %>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-outline-primary" %>
    </div>
<% end %>
