<% if user_is_admin? %>
    <div class="text-right">
      <%= link_to new_sponsor_path, class: 'btn btn-outline-success' do %>
          <%= fa_icon('plus') %>
          New Sponsor
      <% end %>
    </div>
<% end %>


<% @sponsors.each_slice(3) do |slice| %>
    <%= content_tag :div, class: 'card-deck' do %>
        <% slice.each do |sponsor| %>
            <%= content_tag :div, class: 'card card-outline-none' do %>
                <%= content_tag :div, class: 'card-block text-center' do %>
                    <%= link_to sponsor.website, target: "_blank" do %>
                        <%= image_tag sponsor.logo.url(:thumb) %>
                    <% end %>
                    <% if user_is_admin? %>
                        <%= content_tag :div, class: 'flex-row' do %>
                            <%= link_to 'Edit', edit_sponsor_url(sponsor.id), class: 'btn btn-sm btn-outline-primary' %>
                            <%= link_to 'Destroy', sponsor, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-outline-danger' %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>