<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @sponsor.slug %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @sponsor.logo.url %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
