<div class="col">

  <h1>{{schedule}}</h1>

  <div class="flex-column">
    {{#events}}
      <div id="{{this.id}}">
        <h3 class="text-danger mt-4" href="#{{this.id}}">{{this.title}}</h3>
        <hr class="mt-0">
        <p class="text-muted lead">{{this.subtitle}}</p>
        {{#if this.video_url}}
          <video class="card-img-top mw-100" loop muted autoplay preload="auto">
            <source src="{{this.video_url}}" type="video/quicktime">
          </video>
        {{/if}}
        {{#if this.image_url}}
          <img class="card-img-top" src="{{this.image_url}}" alt="{{this.image_alt}}">
        {{/if}}
        {{#this.classes}}
          <div class="row pb-4">
            <div class="col-3">
              <b>{{start_time}}&nbsp;&ndash;&nbsp;{{end_time}}</b>
            </div>
            <div class="col">
              <p class="my-0">{{title}}</p>
              <small>{{sub_description}}</small>
            </div>
            <div class="col">{{profile.name}}</div>
          </div>
        {{/this.classes}}
        {{#if this.guest_shifts}}
        <div class="row pb-3">
          <div class="col-3 border border-left-0">
            <p class="text-muted">{{guest_shift}}</p>
            {{#gs_times}}
              {{start_time}}&ndash;{{end_time}}
            {{/gs_times}}
          </div>
          <div class="col border border-right-0 border-left-0">
            {{#this.guest_shifts}}
              <p class="my-0"><a href="/profiles/{{profile.id}}">{{{profile.name}}}</a> @ {{location}}</p>
            {{/this.guest_shifts}}
          </div>
        </div>
        {{/if}}
      </div>
    {{/events}}
  </div>

</div>
