<% @right_column = true %>
<div class="col-12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1><%= t('welcome') %></h1>
        <%= t('home_copy').html_safe %>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-md-4 col-sm-12 text-center">
        <p class="lead">
          <%= t('masterclass') %>
        </p>
        <%= link_to t('sign_up'), events_path, class: 'btn btn-large btn-outline-info' %>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <p class="lead">
          <%= t('exclusive_dining') %>
        </p>
        <%= link_to t('events'), events_path, class: 'btn btn-large btn-outline-success' %>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <p class="lead">
          <%= t('city_wide_events') %>
        </p>
        <%= link_to t('locations'), locations_path, class: 'btn btn-large btn-outline-primary' %>
      </div>
    </div>
  </div>
</div>