<% if !@order_item.nil? && @order_item.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% if @order_items.size == 0 %>
    <p class="text-center lead">
      There are no items in your shopping cart. Please <%= link_to "go back", root_path %> and add some items to your
      cart.
    </p>
<% else %>
    <% @order_items.each_with_index do |order_item, idx| %>
        <%= render 'carts/cart_row', event: order_item.event, order_item: order_item, show_total: true, stripe: (idx+1).even? %>
    <% end %>
    <div class="flex-row">
      <i class="notes">
        <%= t('payment_notes').html_safe %>
      </i>
      <div class="text-right justify-content-end">
        <span><%= t('subtotal') %></span>
        <%= humanized_money_with_symbol current_order.set_subtotal %>
        <%= render 'charges/form' %>
      </div>
    </div>
<% end %>