<html>
<head>
  <style>
    .text-center {
      text-align: center;
    }

    .container {
      max-width: 600px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="text-center">
    <img src="http://soolbarweek.com/logo2x.png" alt="Sool Bar Week Logo" height="200"/>
  </div>
  <p>
    <%= t('order.email.thank_you', default: "Thank You for your order") %>
  </p>
  <table>
    <%= @events.each do |event| %>
        <tr>
          <td>
            <%= t("event.#{event.id}.title", default: event.title) %>
          </td>
          <td>
            <%= l(event.start_time, format: "%B %d %H:%M %p") %>&nbsp;&ndash;&nbsp;<%= l(event.end_time, format: "%H:%M %p") %>
            @ <%= link_to t("event.#{event.id}.location.name", default: event.location.name), location_path(event.location) %>
          </td>
        </tr>
    <% end %>
  </table>

  <p>
    <%= t('order.email.message', default: "Please bring this email with you as proof of payment.") %>
  </p>
</div>
</body>
</html>