<h3><%= current_user.name %>'s <%= t('order_history') %></h3>

<table class="table table-striped">
  <thead>
  <tr>
    <td>Event</td>
    <td>Quantity</td>
    <td>Price</td>
    <td>Status</td>
  </tr>
  </thead>
  <tbody>
  <% @past_order_items.each do |poi| %>
      <tr>
        <td><%= poi.event.title %></td>
        <td><%= poi.quantity %></td>
        <td><%= humanized_money_with_symbol poi.total_price %></td>
        <td>
          <%= poi.order.order_status.name %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>