<%= form_with(model: location, local: true) do |form| %>
    <% if location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
            <% location.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :location_name, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :location_description, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :slug %>
      <%= form.text_field :slug, id: :location_slug, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :street_address1 %>
      <%= form.text_field :street_address1, id: :location_street_address1, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :street_address2 %>
      <%= form.text_field :street_address2, id: :location_street_address1, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :city %>
      <%= form.text_field :city, id: :location_city, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :country %>
      <%= form.text_field :country, id: :location_country, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :neighborhood %>
      <%= form.text_field :neighborhood, id: :location_country, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :website %>
      <%= form.text_field :website, id: :location_website, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :marker_number %>
      <%= form.text_field :marker_number, id: :location_marker_number, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :marker_color %>
      <%= form.text_field :marker_color, id: :location_marker_color, class: 'form-control' %>
    </div>

    <% if location.id.present? %>
        <div class="form-group field">
          <button class="btn btn-outline-warning reset-btn" data-id="<%= location.id %>"><%= t('reset_markers') %></button>
        </div>
    <% end %>

    <div class="form-group field">
      <label><%= t('photo') %></label><br/>
      <%= form.label :photo, class: "custom-file" do %>
          <%= form.file_field :photo, id: :location_photo, class: 'custom-file-input', placeholder: t('browsefile') %>
          <%= content_tag :span, "", class: "custom-file-control" %>
      <% end %>
    </div>

    <div class="form-group field">
      <label><%= t('logo') %></label><br/>
      <%= form.label :logo, class: "custom-file" do %>
          <%= form.file_field :logo, id: :location_logo, class: 'custom-file-input', placeholder: t('browsefile') %>
          <%= content_tag :span, "", class: "custom-file-control" %>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-outline-primary' %>
    </div>
<% end %>
<script>
    (function ($) {
        $('.reset-btn').on('click', resetMarker);

        function resetMarker(event, location_id) {
            event.preventDefault();
            let id = event.currentTarget.dataset.id
            $.ajax({
                url: `/locations/${id}`,
                data: {
                    location: {
                        marker_x: 0,
                        marker_y: 0
                    }
                },
                method: 'put',
                dataType: "json",
                success: function (xhr, data, status) {
                    //flash message
                    alert('Marker reset to top left of map. Please reposition as soon as possible.');
                }
            })
        }

    })(jQuery);
</script>