<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t('title') %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <%= yield :head %>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
  <script src="https://d3js.org/d3-selection.v1.min.js"></script>
  <script src="https://d3js.org/d3-drag.v1.min.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body data-spy="scroll" data-target="#sidemenu">
<% if current_page?(root_url) && !user_signed_in? %>
    <%= render 'partials/header' %>
<% end %>

<%= render 'partials/nav', locals: {nav: nav} %>
<div class="container h-10" id="content">
  <div class="row h-100 mt-3">
    <%= render 'partials/aside' %>
    <main class="col py-5">
      <% if flash.present? %>
          <div class="row">
            <div class="col">
              <%= bootstrap_flash %>
            </div>
          </div>
      <% end %>
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
        <% if @right_column %>
            <%= render 'partials/right_column' %>
        <% end %>
      </div>
    </main>
  </div>
</div>
<footer class="flex-row bg-inverse text-white py-4">
  <div class="container">
    <div class="row">
      <% footer.each do |f| %>
          <%= render 'partials/footer_column', column: f %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-12 text-right small">
        &copy;<%= Date.current.year %> <%= t('title') %>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
